.btn-green {

	 background-color: #94EF39;
	 padding: 15px 20px;
	 border-radius: 5px;
	 color:white;
	 font-weight: bold ;
	 font-family: 'opensanscondensed', sans-serif;
	 margin: 20px;
	 font-style: initial;

}